In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
initial_adult <- read.csv("./datasets/adult.csv")

In [3]:
adult <- select(initial_adult, -c(x, educational.num))
head(adult)

  age workclass education    marital.status     race  gender hours.per.week
1 25  Private   11th         Never-married      Black Male   40
2 38  Private   HS-grad      Married-civ-spouse White Male   50
3 28  Local-gov Assoc-acdm   Married-civ-spouse White Male   40
4 44  Private   Some-college Married-civ-spouse Black Male   40
5 18  ?         Some-college Never-married      White Female 30
6 34  Private   10th         Never-married      White Male   30
  income
1 <=50K
2 <=50K
3 >50K
4 >50K
5 <=50K
6 <=50K

In [4]:
summary(adult)

      age         workclass          education         marital.status
 Min.   :17.00   Length:48842       Length:48842       Length:48842
 1st Qu.:28.00   Class :character   Class :character   Class :character
 Median :37.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :38.64
 3rd Qu.:48.00
 Max.   :90.00
     race              gender          hours.per.week     income
 Length:48842       Length:48842       Min.   : 1.00   Length:48842
 Class :character   Class :character   1st Qu.:40.00   Class :character
 Mode  :character   Mode  :character   Median :40.00   Mode  :character
                                       Mean   :40.42
                                       3rd Qu.:45.00
                                       Max.   :99.00

In [5]:
sum(is.na(adult))

[1] 0

There is no NA, but we want to investigate whether there are missing values categorized as some other way.

In [6]:
for (col in colnames(adult)){
    print(c(unique(adult[col])))
}

$age
 [1] 25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54 32
[26] 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79 73 53
[51] 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88 87 86

$workclass
[1] "Private"          "Local-gov"        "?"                "Self-emp-not-inc"
[5] "Federal-gov"      "State-gov"        "Self-emp-inc"     "Without-pay"
[9] "Never-worked"

$education
 [1] "11th"         "HS-grad"      "Assoc-acdm"   "Some-college" "10th"
 [6] "Prof-school"  "7th-8th"      "Bachelors"    "Masters"      "Doctorate"
[11] "5th-6th"      "Assoc-voc"    "9th"          "12th"         "1st-4th"
[16] "Preschool"

$marital.status
[1] "Never-married"         "Married-civ-spouse"    "Widowed"
[4] "Divorced"              "Separated"             "Married-spouse-absent"
[7] "Married-AF-spouse"

$race
[1] "Black"              "White"              "Asian-Pac-Islander"
[4] "Other"              "Amer-Indian-Eskimo"

$gender
[1] "Male"   "Female"

$hours.per.week
 [1] 40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28 16
[26] 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29 96 21
[51] 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13 19 98 62
[76] 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95

$income
[1] "<=50K" ">50K"

There are some `?` values in the `workclass` column and `Other` in the `race` column.

In [7]:
sum(adult$workclass == "?"); sum(adult$race == "Other")

[1] 2799

[1] 406

Drop observations

In [8]:
adult <- adult[!adult$workclass == "?",]
adult <- adult[!adult$race == "Other",]
head(adult)

  age workclass        education    marital.status     race  gender
1 25  Private          11th         Never-married      Black Male
2 38  Private          HS-grad      Married-civ-spouse White Male
3 28  Local-gov        Assoc-acdm   Married-civ-spouse White Male
4 44  Private          Some-college Married-civ-spouse Black Male
6 34  Private          10th         Never-married      White Male
8 63  Self-emp-not-inc Prof-school  Married-civ-spouse White Male
  hours.per.week income
1 40             <=50K
2 50             <=50K
3 40             >50K
4 40             >50K
6 30             <=50K
8 32             >50K

In [9]:
unique(adult$workclass)
head(adult)

[1] "Private"          "Local-gov"        "Self-emp-not-inc" "Federal-gov"
[5] "State-gov"        "Self-emp-inc"     "Without-pay"      "Never-worked"

  age workclass        education    marital.status     race  gender
1 25  Private          11th         Never-married      Black Male
2 38  Private          HS-grad      Married-civ-spouse White Male
3 28  Local-gov        Assoc-acdm   Married-civ-spouse White Male
4 44  Private          Some-college Married-civ-spouse Black Male
6 34  Private          10th         Never-married      White Male
8 63  Self-emp-not-inc Prof-school  Married-civ-spouse White Male
  hours.per.week income
1 40             <=50K
2 50             <=50K
3 40             >50K
4 40             >50K
6 30             <=50K
8 32             >50K

In [18]:
col <- "workclass"
typeof(as.integer(factor(adult[[col]], labels=1:length(unique(adult[[col]]))))-1)

[1] "double"

In [15]:
unique(adult$education)
for (col in c("workclass", "education", "marital.status", "race", "gender", "income")){
    adult[[col]] <- as.integer(factor(adult[[col]], labels=1:length(unique(adult[[col]]))))-1
    print(typeof(adult[[col]]))
}

 [1]  1 11  7 15  0 14  5  9 12 10  4  8  6  2  3 13

[1] "double"
[1] "double"
[1] "double"
[1] "double"
[1] "double"
[1] "double"

In [12]:
0:(length(unique(adult$workclass))-1)

[1] 0 1 2 3 4 5 6 7

In [19]:
head(adult, 20)

   age workclass education marital.status race gender hours.per.week income
1  25  3          1        4              2    1      40             0
2  38  3         11        2              3    1      50             0
3  28  1          7        2              3    1      40             1
4  44  3         15        2              2    1      40             1
6  34  3          0        4              3    1      30             0
8  63  5         14        2              3    1      32             1
9  24  3         15        4              3    0      40             0
10 55  3          5        2              3    1      10             0
11 65  3         11        2              3    1      40             1
12 36  0          9        2              3    1      40             0
13 26  3         11        4              3    0      39             0
15 48  3         11        2              3    1      48             1
16 43  3         12        2              3    1      50             1
17 20  6         15        4              3    1      25             0
18 43  3         11        2              3    0      30             0
19 37  3         11        6              3    0      20             0
20 40  3         10        2              1    1      45             1
21 34  3          9        2              3    1      47             1
22 34  3         15        4              2    0      35             0
24 25  3          9        4              3    1      43             0

### Shuffle dataset

In [14]:
shuffle_index <- sample(1:nrow(adult))
shuffled_adults <- adult[shuffle_index,]
head(shuffled_adults)

      age workclass education marital.status race gender hours.per.week income
16543 45  3         11        2              3    1      60             0
47422 25  3          0        4              3    1      50             0
32568 39  3          7        2              3    1      40             0
13878 39  6          7        2              3    1      40             0
25290 32  3          9        2              3    1      45             1
25392 49  3          9        4              3    0      40             0